flows.json
[
    {
        "id": "58cdd9ded36bf09d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "998e6a3f30692f03",
        "type": "mqtt-broker",
        "name": "thin-edge",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "node-red-flow",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "autoUnsubscribe": true,
        "birthTopic": "tedge/device/main/service/node-red-con-2023-flow/status/health",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "{\"status\":\"up\",\"type\":\"nodered\"}",
        "birthMsg": {},
        "closeTopic": "tedge/health/node-red-con-2023-flow",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "{\"status\":\"down\",\"type\":\"nodered\"}",
        "closeMsg": {},
        "willTopic": "tedge/device/main/service/node-red-con-2023-flow/status/health",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "{\"status\":\"down\",\"type\":\"nodered\"}",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e343bef726d75429",
        "type": "inject",
        "z": "58cdd9ded36bf09d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "977ff015f11f0893",
                "86f5b3a8b0287129"
            ]
        ]
    },
    {
        "id": "3c2dccca0692fde2",
        "type": "template",
        "z": "58cdd9ded36bf09d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"myNumber\": {{payload}}\n}",
        "output": "str",
        "x": 960,
        "y": 400,
        "wires": [
            [
                "411c0d398bd272e0"
            ]
        ]
    },
    {
        "id": "411c0d398bd272e0",
        "type": "mqtt out",
        "z": "58cdd9ded36bf09d",
        "name": "",
        "topic": "te/device/node-red-demo///m/sim",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "998e6a3f30692f03",
        "x": 1380,
        "y": 400,
        "wires": []
    },
    {
        "id": "977ff015f11f0893",
        "type": "random",
        "z": "58cdd9ded36bf09d",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 660,
        "y": 340,
        "wires": [
            [
                "3c2dccca0692fde2"
            ]
        ]
    },
    {
        "id": "0aea19ad9695d563",
        "type": "template",
        "z": "58cdd9ded36bf09d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"myFloat\": {{payload}}\n}",
        "output": "str",
        "x": 960,
        "y": 560,
        "wires": [
            [
                "411c0d398bd272e0"
            ]
        ]
    },
    {
        "id": "86f5b3a8b0287129",
        "type": "random",
        "z": "58cdd9ded36bf09d",
        "name": "",
        "low": "10",
        "high": "15",
        "inte": "false",
        "property": "payload",
        "x": 660,
        "y": 500,
        "wires": [
            [
                "0aea19ad9695d563"
            ]
        ]
    }
]